[submodule "MobiusToken_FlashLoan/lib/forge-std"]
	path = MobiusToken_FlashLoan/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MobiusToken_FlashLoan/lib/openzeppelin-contracts"]
	path = MobiusToken_FlashLoan/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
